
@{
    Layout = null;
}
<a href="/Default/Urunler">Ürünler sayfası</a>
<a href="/Default/Musteriler">musteriler sayfasına git</a>
<h1>  merhaba core oop projesi  </h1>
<h3>dersler devam</h3>
<h1>mesaj listesi</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>
<h2>@ViewBag.v</h2>
<h3>@ViewBag.k</h3>
<h3>@ViewBag.t</h3>
<h3>@ViewBag.faktör </h3>
