
@{
    Layout = null;
}
<a href="/Default/Index">index sayfası</a>
<a href="/Default/Musteriler">musteriler sayfasına git</a>

<h1> ürünler sayfası</h1>

<h3>@ViewBag.m1</h3<!--buraası m1den gelen değerler  -->
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3> 
<h3>toplam : @ViewBag.t</h3> 
<h3>cevre : @ViewBag.c</h3> 
<h3>@ViewBag.f</h3>
<h3>@ViewBag.k</h3>

